.block-cards{
	padding: 0.5em 0.3em;

	a{
		text-decoration: none;

		figure{

			img{
				width: 100%;
				display: block;
			}

		}

		.tags{
			margin: 1.2em 0 0;
		}

		.description{
			margin: 1.2em 0;
			
			h3{
				text-transform: uppercase;
				color: #000;
				text-decoration: none;
			}

			p{
				font-weight: 400;
				font-size: 14px;
				color: rgba(#000, 0.8);
				margin: 1.2em 0 0;
			}

		}

		.infos{
			font-size: 14px;
			font-style: italic;
			font-weight: 400;
			color: rgba(#000, 0.8);
			padding: 0 0 1.2em;
			border-bottom: 1px solid #CCC;

			span{
				float: right;
			}

		}

	}

}